body {
    padding-top : 100px;
}
.drop_ground {
    background-color : #fff;
    border-style : solid;
    border-width : 1px;
    border-color : #eaeaea;
    box-shadow : 0 3px 25px rgba(80, 80, 80, 0.05);
    width : 400px;
    height : 400px;
    margin : 0 auto;
    text-align : center;
}
.drop_ground .vertical_aligner,
.drop_ground .content {
    display : inline-block;
    vertical-align : middle;
}
.drop_ground .vertical_aligner {
    height : 100%;
}
.drop_ground .content {
    color : #555;
    font-size : 26px;
    font-family : 'Bitter', serif;
}
