html {
    background-image : url('{{ 'circles.png' | static }}');
    background-repeat : repeat;
}
html, body {
    width : 100%;
    margin : 0;
    padding : 0;
}
body {
    padding-top : 60px;
}
.title, .subtitle, .message {
    text-align : center;
    cursor : default;
}
.title {
    color : #333;
    font-family: 'Bitter', serif;
    font-size : 48px;
    font-weight : 700;
    margin : 0 auto 0 auto;
    text-shadow : 0 2px 2px #fff;
}
.subtitle {
    color : #555;
    font-family: 'Bitter', serif;
    font-weight : 400;
    font-size : 22px;
    margin : 0 auto 0 auto;
    text-shadow : 0 2px 2px #fff;
}
.message {
    color : #999;
    font-family: 'Actor', sans-serif;
    font-weight : 300;
    font-size : 16px;
    margin : 30px auto 0 auto;
    text-shadow : 0 1px 1px #fff;
}
.message a {
    color : #6CC700;
    text-decoration : none;
}
