body {
    padding-top : 100px;
}
.stage {
    background-color : #fff;
    border-style : solid;
    border-width : 1px;
    border-color : #eaeaea;
    box-shadow : 0 3px 25px rgba(80, 80, 80, 0.05);
    margin : 0 auto;
    text-align : center;
}
.putzcard_wrapper {
    width : 100%;
    text-align : center;
}
.putzcard {
    display : inline-block;
    min-height : 20px;
    min-width : 20px;
    padding : 20px;
}
.putzcard .img_wrapper {
    position : relative;
    overflow : hidden;
}
.putzcard img {
    position : absolute;
}
.putzcard .img_overlay {
    background-image : url("{{ 'putzcard/putzcard_cover2.png' | static }}");
    width : 750px;
    height : 418px;
    position : relative;
}
.drop_ground {
    width : 400px;
    height : 400px;
    white-space : nowrap;
}
.drop_ground .vertical_aligner,
.drop_ground .content {
    display : inline-block;
    vertical-align : middle;
}
.drop_ground .vertical_aligner {
    height : 100%;
}
.drop_ground .content {
    color : #666;
    font-size : 26px;
    font-family : 'Bitter', serif;
    white-space : normal;
    width : 80%;
}
.drop_ground .subtitle {
    color : #888;
    font-size : 20px;
}
