<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Actor' rel='stylesheet' type='text/css'>
        <style type="text/css">
            html, body {
                width : 100%;
                margin : 0;
                padding : 0;
            }
            .title, .subtitle, .message {
                text-align : center;
            }
            .title {
                color : #333;
                font-family: 'Bitter', serif;
                font-size : 48px;
                font-weight : 700;
                margin : 50px auto 0 auto;
            }
            .subtitle {
                color : #555;
                font-family: 'Bitter', serif;
                font-weight : 400;
                font-size : 22px;
                margin : 0 auto 0 auto;
            }
            .message {
                color : #999;
                font-family: 'Actor', sans-serif;
                font-weight : 300;
                font-size : 16px;
                margin : 30px auto 0 auto;
            }
            .message a {
                color : #6CC700;
                text-decoration : none;
            }
        </style>

    </head>
    <body>
        <div class="title">Putzify</div>
        <div class="subtitle">Express your inner snob</div>
        <div class="message">
            <div>Putzify will be publicly available soon.</div>
            <div>Meanwhile, you can <a href="mailto:beta@putzify.com">drop us a note</a> and join beta program</div>
        </div>
    </body>
</html>
