{% extends 'page.tmpl' %}

{% block head %}
<style type="text/css">
    {% include 'css/index.css' %}
</style>
{% endblock %}

{% block body %}
    <div class="title">Putzify</div>
    <div class="subtitle">Not everyone's got it</div>
    <div class="message">
        <div>Putzify will be publicly available soon.</div>
        <div>Meanwhile, you can <a href="mailto:beta@putzify.com">drop us a note</a> and join beta program</div>
    </div>
{% endblock %}
